body{
	margin:0px;
	padding:0px;
	margin: auto;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:20px 0;
	list-style: none;
	margin: 0;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
	margin-right:3%;
}

#main-header{
	margin:0px;
	padding:0px;
	background-image: no-repeat;
	background-image: url(../images/purple_wallpaper2.jpeg);
	background-position: center;
	color:white;
	text-align:center;
}

#main-header h1{
	font-family: garamond;
	font-size: 60px;
	padding: 20px;
	margin: 0;
}

.container{
	width: auto;
	padding-left: 10%;
	padding-right: 10%;
}

.box1{
	border: 5px rgb(164,22,192) solid;
	color: white;
	margin: 30px 10% 0 10%;
	padding: 0px 30px;
	background-image: no-repeat;
	background-image: url(../images/nyu_campus.png);
	background-position: center 35%;
}



.box1 h2{
	margin:0px;
	padding-top:10px;
	padding-bottom:0px;
}

.fix-me{
	position:fixed;
	top:200px;
	line-height:2em;
	border: 3px red dotted;
	padding: 3px;

}

.clr{
	clear:both;
	float:none;
}

#left-block{
	float:left;
	border: rgb(164,22,192) solid;
	border-width: 5px 2.5px 5px 5px;
	width: 40%;
	margin: 0% 0% 0% 10%;
	padding: 0;
	font-weight: 1000;
	line-height: 1.5em;
	background-image: url(../images/bill.jpg);
	background-position: center 40%;
	box-sizing: border-box;
}

#left-block h1{
	margin:0;
	padding: 25px 25px 12px 25px;
	font-weight: 2000;
	font-style:italic;
}

#left-block p{
	margin:0;
	padding: 13px 25px 25px 25px;
}

#right-block{
	float:right;
	border: rgb(164,22,192) solid;
	border-width: 5px 5px 5px 2.5px;
	width: 40%;
	margin: 0% 10% 0% 0%;
	padding: 0;
	font-weight: 1000;
	line-height: 1.5em;
	background-image: url(../images/kerwin.jpg);
	background-position: center 60%;
	box-sizing: border-box;
}

#right-block h1{
	margin:0;
	padding: 25px 25px 12px 25px;
	font-weight: 2000;
	font-style:italic;
}

#right-block p{
	margin:0;
	padding: 13px 25px 25px 25px;
}

.hover{
	opacity: 0;
}

.hover:hover{
	opacity: 1;
	background: rgba(255, 255, 255, 0.4);
}


.why1{
	display: flex;
  	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	border: 5px black solid;
	background-image:url(../images/bgimage.jpg);
	background-repeat:no-repeat;
}


#students{
	float: left;
	width: 60%;
	font-weight: 1000;
	line-height: 1.5em;
	box-sizing: border-box;
	padding-right: 2.5%

}

#stuImage{
	width:40%;
	float: right;
	box-sizing: border-box;
}

.why2{
	display: flex;
 	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	border: 5px black solid;
	background-image:url(../images/bgimage.jpg);
	background-repeat:no-repeat;
	border-top: 0px;
	margin-bottom: 50px;
}

#alumni{
	float: right;
	width: 60%;
	font-weight: 1000;
	line-height: 1.5em;
	box-sizing: border-box;
	padding-left: 2.5%
}

#aluImage{
	float:left;
	width:40%;
	box-sizing: border-box;
}

.button{
	font-size: 40px;
	background-color:purple;
	color:#fff;
	padding:20px 45px;
	box-sizing: border-box;
}

.button:hover{
	background:violet;
	color:#fff;
}

#exp{
	text-align:center;
}

#main-footer{
	display: flex;
  	align-items: center;
	background: #333;
	color:#fff;
	margin-top:40px;
	padding: 20px 10%;

}

#copyR{
	float:right;
	width:30%;
	padding:20px;
	margin-right: 15%;
	box-sizing: border-box;
}

#logo{
	float:left;
	width:30%;
	margin-left: 25%;
	box-sizing: border-box;
}

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

#timeline p {
	font-size: 1em;
	line-height: 1.75em;
	border-top: 3px solid;
	border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
	border-image-slice: 1;
	border-width: 3px;
	margin: 0;
	padding: 40px;
	counter-increment: section 1;
	position: relative;
	color: black;  
}	  
	
#timeline p::before {
	content: counter(section);
	position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: black;
    text-align: center;
    line-height: 1.25em;
    color: white;
    font-size: 1em;
}



#timeline p:nth-child(odd) {
  	border-right: 3px solid;
  	padding-left: 0;
} 

#timeline p:nth-child(odd)::before {
    left: 100%; 
    margin-left: -20px;
}



#timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

#timeline p:nth-child(even)::before {
    right: 100%; 
    margin-right: -20px;
}

#timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

#timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

@media(max-width:700px){
	#left-block{
		width:100%;
		float:none;
		margin:0;
		border-right:5px rgb(164,22,192) solid;
	}

	#right-block{
		width:100%;
		float:none;
		margin:0;
		border-top:0;
		border-left:5px rgb(164,22,192) solid;
	}
}