* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  color: green;
}

.round-image {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  height: 100%;
  display: flex;
}

.right-container {
  flex: 1 0 80%;
  display: flex;
}

.navigator {
  flex: 0 1 20%;
  background-color: #cca2d8;
  height: 100vh;
  color: white;
  font-size: 110%;
  font-weight: 200;
}

.collapsed-navigator {
  flex: 0 1 5.5%;
}

.contacts {
  flex: 0 0 30%;
  padding: 3vh;
}

.head {
  height: 10vh;
  display: flex;
  margin-top: 1vh;
}

.head div {
  flex: 0 1 20%;
}

.head div img {
  height: 4vh;
  align-self: center;
}

.head h2 {
  align-self: center;
  padding-left: 1vw;
  font-size: 200%;
  flex: 1 0 auto;
}

.tools {
  margin-top: 3vh;
  height: 30vh;
}

.helps {
  margin-top: 3vh;
  height: 20vh;
}

.tab {
  display: flex;
  padding: 1.5vh 0;
  padding-left: 2vw;
  align-items: center;
}

.tab:hover {
  color: purple;
}

.tab div {
  flex: 0 0 4vw;
  padding-right: 1vw;
}

.tab h2 {
  flex: 1 0 auto;
  padding: auto 0;
}

.selected-tab {
  font-family: "Arial", Hebrew Desk Interface;
  font-style: normal;
  background-color: white;
  color: #cca2d8;
  border-radius: 40px 0px 0px 40px;
}

.above-selected {
  background-color: white;
}

.below-selected {
  background-color: white;
}

.small-icon {
  font-size: 200%;
  margin-right: 5%;
  margin-left: 10%;
}

.big-icon {
  font-size: 250%;
  margin-right: 5%;
  margin-left: 10%;
}

.special-tab-1 {
  background-color: #cca2d8;
  border-radius: 0px 0px 40px 0px;
}

.special-tab-2 {
  background-color: #cca2d8;
  border-radius: 0px 40px 0px 0px;
}

#invisible-1,
#invisible-2,
#invisible-1:hover,
#invisible-2:hover {
  color: #cca2d8;
}

.collapse h2 {
  font-size: 150%;
}

.collapse {
  margin-top: 5vh;
  height: 10vh;
}

.contact-list {
  list-style: none;
}

.search-bar {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search-bar div {
  flex: 0 1 10%;
  color: #808080;
  font-size: 80%;
  padding: auto;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.search-bar input,
.search-bar input:focus {
  display: block;
  flex: 1 0 auto;
  color: #808080;
  height: 4vh;
  background-color: #f1f1f1;
  border: none;
  outline: none;
}

.contact-list {
  margin-top: 3vw;
}

.contact-person {
  display: flex;
  padding: 1vw;
  border-top: 1px solid #808080;
}

.contact-person:hover {
  background-color: #f1f1f1;
}

.person-image {
  flex: 0 1 15%;
  padding: auto;
  padding-right: 1vw;
}

.person-info {
  flex: 1 0 auto;
}

.person-top {
  display: flex;
  padding-bottom: 1vw;
}

.name {
  flex: 0 1 70%;
}

.time {
  flex: 1 0 auto;
  text-align: right;
}

.chat-block {
  background-color: #f1f1f1;
  flex: 0 0 70%;
}

.default-chat-screen {
  width: 100%;
  color: #808080;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.default-chat-screen div {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.screen-icon {
  font-size: 500%;
}

.default-chat-screen h1 {
  text-align: center;
  width: 50vw;
  word-wrap: break-word;
}

.profile {
  align-items: center;
  padding: 1vw;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
}
.profile-image {
  flex: 0 1 10%;
  padding-left: 0.75vw;
}

.profile-info {
  flex: 1 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  line-height: 30px;
}

.profile-major {
  font-weight: normal;
}

.profile-career {
  font-weight: normal;
  color: #808080;
  width: 40vw;
  height: 3vh;
  overflow: hidden;
}

.chat-box {
  padding: 0 2vw;
}

.chat-history {
  list-style: none;
}

.chat-field {
  height: 64vh;
  overflow-y: scroll;
}

.chat-history {
  width: 100%;
  height: 95%;
}

.message-received {
  display: flex;
  margin: 5px 0;
}

.message-avatar {
  flex: 0 1 5%;
}

.message-text {
  flex: 0 0 auto;
  align-self: left;
  max-width: 36vw;
}

.message-empty {
  flex: 1 0 auto;
}

.message-sent {
  display: flex;
  margin: 5px 0;
  flex-direction: row-reverse;
}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.talk-bubble {
  margin: 10px 40px;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: rgb(230, 230, 230);
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: rgb(230, 230, 230) transparent transparent transparent;
}

.tri-right.right-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: rgb(230, 230, 230) transparent transparent transparent;
}

.type-field {
  border-top: 5px black solid;
  height: 22vh;
  width: 100%;
}

.tool-bar {
  display: flex;
  align-items: center;
  list-style: none;
  height: 25%;
}

.tool-bar:first-child {
  margin-left: 5%;
}

.tool-icon {
  flex: 0 1 10%;
}

.tool-icon-special {
  flex: 1 0 auto;
}

.small-icon {
  font-size: 150%;
  margin-right: 5%;
  margin-left: 10%;
}

.input-field {
  height: 50%;
  width: 90%;
  margin: auto;
}

.input-field textarea,
.input-field textarea:focus {
  font-size: 150%;
  padding: 1vh;
  margin-top: 3vh;
  height: 100%;
  width: 100%;
  resize: none;
}

.button-bar {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  height: 30%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.button-bar div {
  flex: 1 0 auto;
  width: 15%;
}

.button-bar input {
  flex: 0 1 15%;
  height: 60%;
}

.home-main {
  flex: 1 0 80%;
  padding: 3vh 8vh;
  height: 100vh;
  overflow-y: scroll;
}

.home-profile {
  background-color: #f8f8f8;
  border-radius: 3vh;
  padding: 3vh;
  align-items: center;
}

.home-top {
  display: flex;
}

.home-top-profile {
  flex: 0 1 93%;
  display: flex;
}

.profile-pic {
  flex: 0 1 8%;
  align-self: center;
}

.profile-pic img {
  height: 6vh;
  width: 6vh;
}

.home-top-info {
  flex: 1 0 auto;
  line-height: 3vh;
  align-self: center;
}

.home-top-info h2 {
  font-size: 150%;
  font-weight: bald;
}

.home-top-info h3 {
  font-size: 125%;
  font-weight: 100;
}

.home-top-icon {
  flex: 0 1 7%;
  align-self: center;
}

.good-line {
  margin: 2vh 0;
}

.about {
  padding-bottom: 3vh;
}

.about h3 {
  font-size: 150%;
  line-height: 5vh;
}

.about h4 {
  font-size: 100%;
  font-weight: 50;
}

.exp-title {
  font-size: 150%;
  line-height: 5vh;
}

.my-exp h2 {
  font-size: 130%;
  line-height: 5vh;
}

.my-exp h4 {
  font-size: 100%;
  font-weight: 50;
}

.expand-collapse {
  display: flex;
}

.expand-collapse:hover {
  color: #cca2d8;
}

.expand-collapse div {
  flex: 0 1 6%;
  align-self: center;
}

.experience {
  list-style: none;
}

.expand-collapse h4 {
  font-size: 125%;
  font-weight: 75;
  flex: 1 0 auto;
  align-self: center;
}

.opp-title {
  padding: 3vh;
}

.opp-bar {
  display: flex;
  padding: 0 3vh;
}

.opp-bar-list {
  flex: 0 1 60%;
}

.opp-bar-button {
  display: inline-block;
  font-size: 125%;
  margin-right: 3vh;
}

.opp-bar-button h4 {
  font-weight: 100;
}

.opp-bar input {
  flex: 1 0 40%;
}

.opp-column {
  background-color: #f8f8f8;
  border-radius: 3vh;
  padding: 1vh 3vh;
  margin-top: 3vh;
  align-items: center;
  list-style: none;
}

.opp-column-item {
  display: flex;
}

.opp-item-left {
  flex: 0 1 50%;
  padding: 2vh 0;
}

.opp-item-left h2 {
  line-height: 3vh;
}

.opp-item-left h4 {
  font-size: 125%;
  font-weight: 100;
  line-height: 3vh;
}

.opp-item-right {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
}

.opp-item-icon {
  flex: 0 1 9%;
  align-items: center;
  padding-right: 2vh;
}

.opp-item-status {
  flex: 1 0 91%;
  font-size: 125%;
}

.opp-item-status h4 {
  width: 100%;
}

.violet {
  color: #cca2d8;
}

.red {
  color: red;
}

.green {
  color: green;
}

.invisible {
  display: none;
}

.opp-container {
  padding: 3vh;
  flex: 1 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.opp-top {
  display: flex;
  margin-bottom: 3vh;
}

.opp-search-bar {
  margin-right: 2vw;
  padding: 0 1vh;
  width: 10vw;
  flex: 0 1 40%;
}

.filter-bar {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.filters {
  padding-left: 10%;
  flex: 0 1 70%;
  display: flex;
}

.filter {
  flex: 0 1 30%;
  display: flex;
}

.clear-bar {
  display: flex;
  flex: 1 0 auto;
}

.referral-row {
  list-style: none;
  display: flex;
}

.referral {
  margin: 3vh;
  flex: 0 1 25%;
  border-radius: 3vh;
  box-shadow: 0px 2vh 3vh rgba(0, 0, 0, 0.25);
  height: 28vh;
}

.opp-category {
  font-weight: normal;
  padding: 3vh;
  background-color: #cca2d8;
  border-radius: 3vh 3vh 0 0;
}

.referral div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3vh;
  height: 20vh;
  border-radius: 0 0 3vh 3vh;
}

.opp-alumni {
  position: absolute;
  bottom: 10%;
}

.referral-detail {
  padding: 5vh 8vh;
  width: 100%;
}

.back-top {
  display: flex;
  align-items: center;
  width: 15vw;
}

.back-top:hover {
  color: #cca2d8;
}

.back-top div {
  flex: 0 1 25%;
}

.back-top h2 {
  flex: 1 0 auto;
}

.detail-mid {
  display: flex;
  margin: 3vh 0;
}

.detail-mid h1,
.detail-mid h3,
.detail-mid h4 {
  margin-top: 1vh;
}

.ref-info {
  flex: 1 0 auto;
}
.ref-request {
  flex: 0 1 20%;
}

.ref-request button {
  font-size: 150%;
  color: white;
  height: 8vh;
  width: 28vh;
  background: linear-gradient(180deg, #e3b3ef 0%, #cca2d8 100%);
  box-shadow: 0px 2vh 4vh rgba(204, 162, 216, 0.5);
  border-radius: 2vh;
}

.ref-descriptions {
  margin-top: 5vh;
  list-style: none;
}

.ref-description {
  margin-top: 3vh;
}

.ref-description h4 {
  font-weight: normal;
}

.sign-up {
  margin-left: 40vw;
  margin-top: 40vh;
}

.log-in {
  margin-left: 40vw;
}

.search-result-person {
  display: flex;
  padding: 1vw;
  border-top: 1px solid #808080;
}

.search-result-person:hover {
  background-color: #f1f1f1;
}

.person-name {
  flex: 1 0 auto;
  align-self: center;
}

.search-results {
  border: 5px black solid;
}

.search-btn:hover {
  color: #cca2d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  display: none;
}

.signUp-container {
  margin: 4vh 15vw;
}

.login-container {
  margin: 4vh 15vw;
}

.signUp-header {
  display: flex;
  padding: 20px 0;
  padding-left: 2vw;
  align-items: center;
}

.signUp-header div {
  flex: 0 1 20%;
  margin-right: 1vw;
}

.signUp-header h2 {
  flex: 1 0 auto;
  padding: auto 0;
}

.signUp-small-container {
  opacity: 1;
  background-color: white;
  display: flex;
  margin: 0 15vw;
  align-items: center;
  flex-direction: column;
  padding: 3vh;
}

.progression {
  list-style: none;
  color: black;
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 0;
  flex: 0 1 auto;
}

.progression li {
  margin-right: 2vw;
  align-items: center;
}

.basic-info {
  margin-top: 7vh;
}

.basic-info ul {
  list-style: none;
  align-items: center;
}

.basic-info-1st-line {
  display: flex;
  margin-bottom: 2vh;
}

.signUp-input-temp {
  width: 80% auto;
  margin-bottom: 2vh;
  align-items: center;
}

.signUp-input-temp h4 {
  margin-bottom: 1vh;
  align-items: center;
}

.signUp-input-temp input {
  align-items: center;
  border: 2px #cca2d8 solid;
  border-radius: 20px;
  height: 4vh;
  width: 30vw;
}

.first-item {
  width: 14vw;
  flex: 1 0 45%;
  margin-right: 10%;
}

.second-item {
  width: 14vw;
  flex: 1 0 45%;
}

.first-item input,
.second-item input {
  margin-top: 1vh;
  width: 100%;
  border: 2px #cca2d8 solid;
  border-radius: 20px;
  height: 4vh;
}

.step-btns {
  display: flex;
}

.next-step {
  margin-top: 2vh;
  border: none;
  background-color: #cca2d8;
  color: white;
  font-weight: bold;
  font-size: 100%;
  padding: 1vh 0vw;
  width: 10vw;
  border-radius: 30px;
}

.next-step:hover {
  background-color: #c88fd8;
  padding: 1vh 0vw;
}

#next-step-btn {
  margin-left: 2vw;
}

#sign-up-btn {
  margin-top: 4vh;
  font-size: 150%;
  width: 15vw;
  padding: 1vh 0;
}

#finish-btn {
  margin-top: 4vh;
  font-size: 150%;
  width: 15vw;
  padding: 1vh 0;
}

#Log-in-btn {
  margin-top: 4vh;
  font-size: 150%;
  width: 15vw;
  padding: 1vh 0;
}

.signUp-about {
  margin-top: 7vh;
}

.signUp-about input {
  height: 15vh;
}

.job-header {
  height: 2vh;
  display: flex;
  margin-bottom: 1vh;
  margin-top: 5vh;
  align-items: center;
}

.job-header hr {
  display: table-cell;
  flex: 0 1 40%;
  height: 0px;
}

.job-header h3 {
  flex: 1 0 auto;
  text-align: center;
}

.signUp-experience ul {
  margin-top: 2vh;
  list-style: none;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.checkbox input {
  flex: 0 1 10%;
  height: 25px;
  width: 25px;
  left: 495px;
  top: 421px;
  color: #cca2d8;
}

.checkbox input:checked {
  background-color: #cca2d8;
}

.checkbox h4 {
  flex: 1 0 auto;
}

.start-end {
  display: flex;
}

.start-date {
  margin-right: 5%;
}

.date-template {
  flex: 1 0 45%;
}

.date-template h4 {
  margin-bottom: 1vh;
}

#present-box {
  height: 4vh;
}

#in-roll-text {
  height: 4vh;
  display: table-cell;
  vertical-align: middle;
}

.date-template input {
  width: 14vw;
}

.description input {
  height: 12vh;
}

.signUp-experience {
  flex-direction: column;
  align-items: center;
}

.add-another-job {
  border: none;
  background-color: transparent;
  color: #cca2d8;
}

.add-another-job:hover {
  color: #c47cd8;
  text-decoration: underline;
}

input:focus,
textarea:focus {
  padding: 0 1vw;
  outline: none;
}

input,
textarea {
  padding: 0 1vw;
  outline: none;
}

button {
  outline: none;
}

button:hover {
  outline: none;
}

.official-container {
  position: relative;
  padding: 10vh 0 10vh 25vw;
}

.NYU-map {
  position: absolute;
  top: 0;
  right: 0;
}

.official-cover {
  z-index: 0;
  height: 35vh;
  margin-top: 5vh;
}

.SignUp-Login {
  display: flex;
  margin-top: 5vh;
  height: 6vh;
  width: 30vw;
}

.official-sign-up {
  flex: 1 1 45%;
  border: none;
  border-radius: 3vh;
  background-color: #cca2d8;
  color: white;
  font-weight: bold;
  font-size: 150%;

  margin-right: 10%;
}

.official-sign-up:hover {
  background-color: #c98eda;
}

.official-log-in {
  flex: 1 1 45%;
  border-style: solid;
  border-color: #cca2d8;
  border-width: 5px;
  border-radius: 3vh;
  background-color: white;
  color: #cca2d8;
  font-weight: bold;
  font-size: 150%;
}

.official-log-in:hover {
  border-color: #c98eda;
  color: #c98eda;
}

.window {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  height: 100vh;
  overflow-y: scroll;
  padding: 4vh 15vw;
}

/*Account Settings CSS below. */

.account-settings-container {
  margin: 5vh 10vw;
  font-size: 150%;
}

.setting-header {
  font-weight: bold;
  margin: 2vh 0;
}

.career-status p {
  font-size: 75%;
  margin: 2vh 0;
}

.career-status-choice {
  display: flex;
}

.career-status-choice input {
  flex: 0 1 10%;
}

.career-status-choice p {
  flex: 1 0 auto;
}

.checkbox-template {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox-template input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-template:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox-template input:checked ~ .checkmark {
  background-color: #cca2d8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-template input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-template .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.account-management-btn {
  display: block;
  border: 2px #cca2d8 solid;
  background-color: white;
  color: #cca2d8;
  padding: 1vh 1vw;
  width: 8vw;
  margin: 1vh 0;
}

.account-management-btn:hover {
  border-color: #b948d8;
  color: #b948d8;
}

.account-management-btn-clicked {
  display: block;
  border: 2px #cca2d8 solid;
  background-color: #cca2d8;
  color: white;
  font-weight: 200;
  padding: 1vh 1vw;
  width: 8vw;
  margin: 1vh 0;
}

.account-management-btn-clicked:hover {
  background-color: #b948d8;
}

.alumni-opp-top-bar {
  display: flex;
  margin: 0 2vw;
}

.alumni-opp-top-bar h2 {
  flex: 0 1 50%;
}

.alumni-opp-top-bar h4 {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.add-referral-template {
  margin: 3vh;
  flex: 0 1 25%;
  border: 0.5vh dashed rgb(165, 164, 164);
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-referral-template div {
  color: rgb(165, 164, 164);
  font-size: 600%;
}

.alumni-opp-container {
  margin-top: 5vh;
}

.senior-myOpp-detail {
  margin: 10vh 0;
  border-radius: 3vh;
  box-shadow: 0px 2vh 3vh rgba(0, 0, 0, 0.25);
}

.senior-myOpp-detail-header {
  font-weight: normal;
  padding: 3vh;
  background-color: #cca2d8;
  border-radius: 3vh 3vh 0 0;
  color: white;
}

.senior-myOpp-detail-header h3 {
  margin-top: 1vh;
}

.senior-myOpp-detail-body {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3vh;
  border-radius: 0 0 3vh 3vh;
}

.senior-myOpp-detail-body-bar {
  list-style: none;
}

.senior-myOpp-detail-body-bar li {
  display: inline-block;
  margin: 0 2vw 0 0;
}

.senior-myOpp-detail-body-list li {
  padding: 1vh 1vw;
}

.senior-post-opp-back {
  width: 100%;
}

.senior-post-opp-body {
  margin-top: 3vh;
}

.senior-post-opp-description {
  margin-top: 3vh;
}

#senior-post-opp-btn {
  height: 28vh;
  border-radius: 3vh;
}

#senior-post-opp-btn:hover {
  color: grey;
  border-color: grey;
}

/* Dashboard Detail Below*/
.dashboard-detail {
  padding: 5vh 5vw;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.dashboard-detail-text {
  margin: 2vh 0;
}

.dashboard-detail-status-bar {
  list-style: none;
  display: flex;
  align-items: center;
}

.dashboard-detail-status-bar li {
  flex: 0 1 8%;
  margin-right: 2vw;
  text-align: center;
}

#dashboard-detail-status-bar-blank {
  flex: 1 0 auto;
}

#dashboard-detail-filter-btn {
  flex: 0 1 15%;
}

#dashboard-detail-filter-btn button {
  background-color: white;
  color: #cca2d8;
  padding: 0.5vh 1vw;
  border: 0.3vh #cca2d8 solid;
  border-radius: 1vh;
}

.dashboard-detail-list {
  list-style: none;
}

.dashboard-detail-list-element {
  border: 2px rgb(221, 221, 221) solid;
  border-radius: 1vh;
  padding: 1.5vh 1.5vw;
  margin: 2vh 0;
}

.dashboard-detail-list-element-profile {
  display: flex;
  margin-bottom: 1.5vh;
}

.dashboard-detail-list-element-profile-image {
  flex: 0 1 8%;
  display: flex;
  align-items: center;
}

.dashboard-detail-list-element-profile-info {
  flex: 0 1 62%;
}

.dashboard-detail-list-element-profile-info h3 {
  margin-bottom: 1.5vh;
}

.dashboard-detail-list-element-profile-info h4 {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  padding: 1vh 1vw;
  border-radius: 1vh;
}

.dashboard-detail-list-element-profile-image img {
  height: 4vw;
  width: 4vw;
}

.dashboard-detail-list-element-profile-btns {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-detail-list-element-profile-btns div {
  flex: 0 0 4vw;
  padding-right: 1vw;
}

.dashboard-detail-list-element-profile-btns h3 {
  flex: 1 0 auto;
  padding: auto 0;
}

.dashboard-detail-decline-btn {
  padding: 1vh 1vw;
  border: 2px white solid;
  background-color: white;
  border-radius: 0.5vw;
  margin-right: 2vw;
  font-size: 120%;
}

.dashboard-detail-decline-btn:hover {
  border-color: rgb(252, 91, 91);
  color: rgb(252, 91, 91);
}

.dashboard-detail-accept-btn {
  padding: 1vh 1vw;
  border: 2px #cca2d8 solid;
  color: #cca2d8;
  border-radius: 0.5vw;
  background-color: white;
  font-size: 120%;
}

.dashboard-detail-accept-btn:hover {
  border-color: #c069d8;
  color: #c069d8;
}

.dashboard-detail-list-status-icon {
  display: flex;
  padding: 1.5vh 0;
  padding-left: 2vw;
  align-items: center;
}

.dashboard-detail h1 {
  margin-top: 5vh;
}

/* Experiment */
.dashboard-detail-filter {
  border: 2px #cca2d8 solid;
  border-radius: 1vh;
  padding: 1.5vh 1.5vw;
  margin: 2vh 0;
  display: flex;
}

.dashboard-detail-filter-major {
  flex: 0 1 20%;
}

.dashboard-detail-filter-gpa {
  flex: 0 1 20%;
}

.dashboard-detail-filter-exp {
  flex: 0 1 20%;
  position: relative;
}

.dashboard-detail-filter-titles {
  margin-bottom: 0.5vh;
}

#dashboard-detail-filter-major-selections {
  overflow-y: scroll;
  height: 15vh;
  width: 85%;
  border-color: #cca2d8;
}

#dashboard-detail-filter-major-selections option {
  padding: 0.3vh 0.5vw;
  font-size: 120%;
}

.dashboard-detail-filter-gpa-input,
.dashboard-detail-filter-gpa-input:focus {
  border: 0.1vh #cca2d8 solid;
  font-size: 110%;
  padding: 0.3vh 0.5vw;
}

.dashboard-detail-filter-exp label {
  font-weight: bold;
}

.dashboard-detail-filter-exp input {
  position: absolute;
  cursor: pointer;
  top: 2.75vh;
  left: 0.5vw;
  height: 0;
  width: 0;
}

.dashboard-detail-filter-exp span {
  top: 2.5vh;
}

.dashboard-detail-filter-exp input:checked ~ .checkmark {
  background-color: #cca2d8;
  color: white;
}

/* Show the indicator (dot/circle) when checked */
.dashboard-detail-filter-exp input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.dashboard-detail-filter-exp .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
